{{- define "linkbase" -}}
<a href="{{.HrefLink}}" 
{{if .OpenNewPage -}}
target="_blank"
{{end -}}
>{{.DisplayLink}}</a>

{{- end -}}

{{- define "figstack" -}}
<section class="vertstack">
    {{- range .Val}}
    <figure>
        <a href="#" id="{{.Id}}" data-id="{{.SectId}}" onclick="appGallery.displayImage(`${id}`, `${this.getAttribute('data-id')}`)"><img src="{{.Redux}}" alt="{{.Caption}}" /></a>
        <figcaption>{{.Caption}}</figcaption>
    </figure>
    {{- end}}
</section>
{{- end -}}

{{- define "youtube" -}}
<iframe allowfullscreen="allowfullscreen" frameborder="0" height="266" mozallowfullscreen="mozallowfullscreen" src="https://www.youtube.com/embed/{{.VideoID}}?feature=player_embedded\" webkitallowfullscreen="webkitallowfullscreen" width="320"></iframe>
{{- end -}}

{{- define "latestposts" -}}
<h3 class="centered subtitle">Ultime novità</h3>
<ul>
    {{- range .LatestPosts}}
    <li>
        <a href="{{.Link}}">{{.Title}}</a>
        <time datetime="{{.DateTimeTxt}}">{{.DateFormatted}}</time>
    </li>
    {{- end}}
</ul>
{{- end -}}


{{- define "singletaggedposts" -}}
<h3 class="centered subtitle">{{.Title}}</h3>
<h6 class="centered subtitle">{{.NumOfPosts}} posts </h6>
<ul>
    {{- range .TagPosts}}
    <li>
        <a href="{{.Link}}">{{.Title}}</a>
        <time datetime="{{.DateTimeTxt}}">{{.DateFormatted}}</time>
    </li>
    {{- end}}
</ul>
{{- end -}}


{{- define "archiveposts" -}}
<h3 class="centered subtitle">Anno {{.Year}}</h3>
<h6 class="centered subtitle">{{.NumOfPosts}} posts </h6>
<ul>
    {{- range .YearPosts}}
    <li>
        <a href="{{.Link}}">{{.Title}}</a>
        <time datetime="{{.DateTimeTxt}}">{{.DateFormatted}}</time>
    </li>
    {{- end}}
</ul>
{{- end -}}

{{- define "tagposts" -}}
<h3 class="centered subtitle">Tags</h3>
<ul>
    {{- range .Tags}}
    <li>
        <a href="{{.Uri}}">{{.Title}} ({{.NumOfPosts}})</a>
    </li>
    {{- end}}
</ul>
{{- end -}}

{{- define "imglinkrun" -}}
<a href="{{.HrefLink}}" class="image-link">
    <img src="{{.ImgSrc}}" class="image-run" />
    <button type="button" class="run-button-always">{{.RunCaption}}</button>
</a>
{{- end -}}